Source: freetennis
Section: games
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders: Bart Martens <bartm@debian.org>, Mehdi Dogguy <dogguy@pps.jussieu.fr>
Build-Depends: debhelper (>= 6), ocaml (>= 3.10.0), dpatch, libcamlimages-ocaml-dev, libsdl-ocaml-dev, libsdl-gfx1.2-dev, libsdl-mixer1.2-dev, libsdl-image1.2-dev, libsdl-ttf2.0-dev, liblablgl-ocaml-dev, liblablgtk2-ocaml-dev, libgdk-pixbuf2
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.debian.org/svn/pkg-ocaml-maint/trunk/packages/freetennis
Vcs-Browser: http://svn.debian.org/wsvn/pkg-ocaml-maint/trunk/packages/freetennis/trunk/
Homepage: http://freetennis.sourceforge.net/

Package: freetennis-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Free Tennis - simulation game
 Free Tennis is a free software tennis simulation game.  The game can be played
 against an A.I. or human-vs-human via LAN or internet.
 .
 This package contains the architecture independent files.

Package: freetennis
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, freetennis-common (= ${source:Version}), ${F:OCamlRun}
Description: Free Tennis - simulation game
 Free Tennis is a free software tennis simulation game.  The game can be played
 against an A.I. or human-vs-human via LAN or internet.
