[Desktop Entry]
Name=FreeTennis
Comment=Free Tennis - a free tennis simulation
Exec=freetennis -newbie
Icon=freetennis
Terminal=false
Type=Application
Categories=Game;SportsGame;
StartupNotify=false
